@import url('https://fonts.googleapis.com/css?family=Amaranth|Delius+Unicase:700|Exo:700|Londrina+Solid|Oleo+Script|Ubuntu:700|Vast+Shadow|Viga');
.login-form{
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    border: 0px solid black;
    padding: 30px;
    margin: auto;
    width: 400px;
    background-color: rgba(204, 204, 204, 0.6);
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.808);
    border: 1px solid black;
}

.form-control{
    margin-bottom: 35px;
}

#header{
    margin-bottom: 35px;
    font-size: 30px;
    text-shadow: 2px 2px #0000006b;
}

.logo{
    text-align: center;
}

img{
    margin-top: 25px;
    max-width: 300px;
    height: auto;
}
button , input{
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.808);
    border: 1px solid black;
}