<form class="signin">
  <div class="logo">
    <img src="./app/logo.png">
  </div>
  <div class="login-form">
    <div class="input">
    <h1 id="header">LogIn</h1>

      <input type="text" class="form-control" id="usr" placeholder="Username">
      <input type="password" class="form-control" id="pass" placeholder="Password">

      <div class="forBtn">
        <button type="submit" class="btn btn-success" [routerLink]="['/menu']" onclick="success()">Login</button>
      </div>
    </div>
  </div>
</form>