@import url('https://fonts.googleapis.com/css?family=Amaranth|Delius+Unicase:700|Exo:700|Londrina+Solid|Mitr|Oleo+Script|Ubuntu:700|Vast+Shadow|Viga');
input, button{
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.808);
    border: 1px solid black;
    font-size: 24px;
}

.regis-form{
    text-align: center;
    font-family: 'Mitr', cursive;
    padding: 30px;
    margin: auto;
    max-width: 600px;
}

.form-control{
    margin-bottom: 35px;
    padding: 20px;
}

#header{
    margin-bottom: 25px;
    font-size: 40px;
    text-shadow: 2px 2px #0000006b;
}