@import url('https://fonts.googleapis.com/css?family=Amaranth|Delius+Unicase:700|Exo:700|Londrina+Solid|Mitr|Oleo+Script|Ubuntu:700|Vast+Shadow|Viga');
img{
    width: 75px;
    height: 75px;
    float: left;
    margin-left: 25px;
}

.form-control{
    overflow: auto;
    height: auto;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

button{
    max-width: 600px;
    margin: 5px;
    font-family: 'Mitr', cursive;
    font-size: 50%;
    text-align: center; 
    line-height: 75px; 
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.808);
    border: 1px solid black;
}

.btn{
    font-size:3.3em;
    display:block;
    left:-60px;
    margin-top:15px;
}



